<!DOCTYPE html>
<html>
  <head>
    <title>todos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= favicon_link_tag asset_path('ruby.png') %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex flex-col min-h-screen">
    <main class="container mx-auto px-5 flex-grow">
      <%= yield %>
    </main>
    <footer class="py-3">
      <div>
        <p class="text-gray-400 text-center text-xs">Created by <%= link_to 'Joe Risner', 'https://github.com/joerisner', class: 'text-white' %></p>
      </div>
    </footer>
  </body>
</html>
